root::0:root
man:*:12:
ftp::50:
shutdown:*:70:
nobody::99:
Admin::101:
User::102:
RemoteAdmin::103:
avahi::104:
radvd::111:
ntpd::112:
upnpd::113:
mail:*:8:8:mail:/var/mail:/bin/sh
pcbapp::126:
autocert::127:pass
pcb_users::1000:
http::1001:
hgwcfg::1002:pass,figaro,pcbapp
config::1003:pcbapp
container::1004:pass,pcbapp
